<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->

    <div class="inner">
        <a href="#" class="image featured"><img src="images/mind_logo_white_no_background_no_text.png" alt=""></a>
        <br>
        <header>
            <h2>MIND</h2>

        </header>
        <p>Methods in Neuroscience at Dartmouth Computational Summer School</p>
        <p>Narratives and Naturalistic Contexts</p>
        <p>7/30 - 8/7/2018</p>
        <!--
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
            </ul>
        </footer>
        -->
    </div>

</section>
