<h2>Faculty</h2>
<section>
  <div class='icon-container'>
    {% for person in site.data.faculty %}
      {% if person.Year contains page.year %}
        <div>
          <figure>
            <a href="{{person.Website}}"><img src="{{site.url}}/images/Faculty/{{person.Picture}}" alt="{{person.First}} {{person.Last}}" height="300"></a>
            <figcaption><strong><a href="{{person.Website}}">{{person.First}} {{person.Last}}</a></strong><p>{{person.Institution}}</p></figcaption>
          </figure>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
