<header id="header">
				<h1 id="logo"><a href="/">MIND <span>Methods in Neuroscience at Dartmouth</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">About</a></li>
                        <li><a href="/#vision">Vision</a></li>
                        <li><a href="/#schedule">Schedule</a></li>
                        <li><a href="/#faculty">Faculty</a></li>
                        <li><a href="/#organizers">Organizers</a></li>
												<li><a href="/2017.html">MIND2017</a></li>
						<li><a href="/apply.html" class="button special">Apply</a></li>
					</ul>
				</nav>
			</header>
