

<!-- Wrapper -->
<div id="wrapper">
	<header id="header">
			<div class="navbar-fixed">
				<nav>
					<div class="nav-wrapper">
						<!-- <img src="{{ site.baseurl }}/images/Logos/{{site.logo-image-url}}" alt="" height=50> -->
						<a href="{{ site.baseurl }}/index.html" class="brand-logo">MIND</a>
						<ul class="right hide-on-med-and-down">
							{% for page in site.pages %}
								{% unless page.exclude %}
									{% if page.title %}
										{% if page.layout == "current" %}
											<li><a href="{{ page.url | prepend: site.baseurl}}">{{ page.title }}</a></li>
										{% endif %}
									{% endif %}
								{% endunless %}
							{% endfor %}
							<li><a href="{{ site.baseurl }}/previous_years.html">Previous Years</a></li>
							<li><a href="{{ site.baseurl }}/conduct.html">Conduct</a></li>
							<li><a href="{{ site.baseurl }}/apply.html">Apply</a></li>
						</ul>
					</div>
				</nav>
			</div>
	</header>

	<!-- Main -->
	<div id="main">
		<div class="inner">
