<!-- <section>
  <h2>Tutorials</h2>
  {% for tutorial in site.data.previous %}
    {% if tutorial.Year contains page.year %}
      <div class="tutorial">

          <div class='tutorial-image'>
            {% if tutorial.Image %}
              {% if tutorial.Video %}
                <a href="{{ tutorial.Video }}"><img src="{{site.baseurl}}/images/tutorials/{{tutorial.Image}}" alt="{{speaker.Name}}" height="150" class="tutorial-image"></a>
              {% else%}
                <img src="{{site.baseurl}}/images/tutorials/{{tutorial.Image}}" alt="{{speaker.Name}}" height="150" class="tutorial-image">
              {% endif %}
            {% else %}
              {% if tutorial.Video %}
                <a href="{{ tutorial.Video }}"><img src="{{site.baseurl}}/images/Logos/MIND_BW_Square.png" alt="" height="150" class="tutorial-image"></a>
              {% else%}
                <img src="{{site.baseurl}}/images/Logos/MIND_BW_Square.png" alt="" height="150" class="tutorial-image">
              {% endif %}
            {% endif %}
          </div>

          <div class="tutorial-text">

            {% if tutorial.Title %}
              <h3 class="tutorial-title">{{ tutorial.Title }}</h3>
            {% endif %}

            {% if tutorial.Presenter %}
              <h4 class="tutorial-author">by: <a href = "{{ tutorial.PresenterWebsite }}" class="tutorial-link">{{ tutorial.Presenter }}</a></h4>
            {% endif %}

            <div class="icon-container">
                {% if tutorial.Video %}
                    <div><a href="{{ tutorial.Video }}" class="icon"><span class="icon-play2"></span></a></div>
                {% endif %}

                {% if tutorial.Slides %}
                  <div><a href="{{ tutorial.Slides }}" class="icon"><span class="icon-file-pdf"></span></a></div>
                {% endif %}

                {% if tutorial.Code %}
                  <div><a href="{{ tutorial.Code }}" class="icon"><span class="icon-github"></span></a></div>
                {% endif %}

                {% if tutorial.Data %}
                  <div><a href="{{ tutorial.Data }}" class="icon"><span class="icon-database"></span></a></div>
                {% endif %}
            </div>
          </div>
      </div>
    {% endif %}
  {% endfor %}
</section> -->

<!-- Using Cards -->
<section>
  <h2>Tutorials</h2>
  <div class="container" id="tutorial">
    <div class="row">
      {% for tutorial in site.data.previous %}
        {% if tutorial.Year contains page.year %}
          <div class="col s12 m6 l4">
            <div class="card">
              <div class="card-image">
                <img src="{{site.url}}/images/tutorials/{{tutorial.Image}}">
              </div>
              <div class="card-content  grey lighten-1">
                {% if tutorial.Title %}
                  <span class="tutorial-title">{{ tutorial.Title }}</span>
                {% endif %}
                {% if tutorial.Presenter %}
                  <h4 class="tutorial-author">by: <a href = "{{ tutorial.PresenterWebsite }}" class="tutorial-link">{{ tutorial.Presenter }}</a></h4>
                {% endif %}
                <div class="row">
                <!-- <div class="icon-container"> -->
                    {% if tutorial.Video %}
                        <div><a href="{{ tutorial.Video }}" class="icon"><span class="icon-play2"></span></a></div>
                    {% endif %}

                    {% if tutorial.Slides %}
                      <div><a href="{{ tutorial.Slides }}" class="icon"><span class="icon-file-pdf"></span></a></div>
                    {% endif %}

                    {% if tutorial.Code %}
                      <div><a href="{{ tutorial.Code }}" class="icon"><span class="icon-github"></span></a></div>
                    {% endif %}

                    {% if tutorial.Data %}
                      <div><a href="{{ tutorial.Data }}" class="icon"><span class="icon-database"></span></a></div>
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
