/* Tutorials */

$border-color:  #585858;
$text-box-color: #fff;
$accent-color: #ff0000;



div.tutorial {
			display: inline-block;
			// flex-direction: row;
		  border-radius: 20px;
		  padding: 0px;
			// height:200px;
			border: 2px solid $border-color;
			margin: 5px;
			max-width: 400px;
			// height: 300px;
			// position: relative;
			// min-height: 400px;
			// background: linear-gradient(to top, lightgrey 50%, transparent 50%);
		}

div.tutorial-image {
				display: block;
				padding: 10px;
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;
				vertical-align: top;
			}

div.tutorial-text {
		display: block;
		padding: 10px;
		// max-height: 400px;
		background-color: $text-box-color;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		vertical-align: bottom;
		position: relative;
	  // bottom: 0;
	  // left: 0;
	}

img.tutorial-image {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
			}

.tutorial-title {
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		word-spacing: 2px;
		letter-spacing: 1px;
		line-height: 1;
		font-size: 24px;
		font-weight: 600;
		margin: 5px;
	}

.tutorial-author {
		text-align: center;
		text-decoration: none;
		text-transform: capitalize;
		word-spacing: 2px;
		letter-spacing: 1px;
		line-height: 1;
		font-size: 16px;
		font-weight: 300;
	}

.icon-container {
		text-align: center;

		div {
				// width: 30px; /* Declare your value. Can be in relative units. */
				display: inline-block;
				vertical-align: bottom;
				margin-top: 0px;
				margin-left: 10px;
				margin-right: 10px;
				margin-bottom: 5px;
				padding: 0px;
				// height: 50px;
				}
		span {
				font-size: 28px;
				}
	}

.icon-container > img {
			width: 30px; /* Declare your value. Can be in relative units. */
			display: inline-block;
			vertical-align: bottom;
			margin-top: 5px;
			margin-left: 10px;
			margin-right: 10px;
			margin-bottom: 0px;
		}
.icon-container:after {
  content: "";
  width: 100%;
  display: inline-block;
	}


#tutorial {
			.container {
					width: 90%;

			}
			.card {
					height: 100%;
					min-height: 400px;
					// object-fit: contain;
			}
			.card-image {
					// height: 400px;
					padding-top: auto;
			    overflow: hidden;
					padding: 10px;
			}
			.card-content {
					padding-top: 10px;
					padding-bottom: auto;
					object-fit: contain;
					// background-color: white!;
					// overflow: scroll;
			}
			.card-title {
					margin-top: 0px;
					margin-bottom: 5px;
					font-size: 18pt;
					line-height: 18pt;
					font-weight: 510;
					text-transform: uppercase;
					object-fit: contain;
			}
			.card-author {
					text-align: center;
					text-decoration: none;
					text-transform: capitalize;
					word-spacing: 2px;
					letter-spacing: 1px;
					line-height: 14pt;
					font-size: 14pt;
					font-weight: 300;
					margin-bottom: 5px;
				}
			.card-affiliation {
					font-size: 14pt;
					line-height: 14pt;
					text-transform: capitalize;
					font-weight: 200;
			}
			.card img {
					// padding: 10px;
			    height: 200px;
			    object-fit: contain;
			}
			.card-icon-container {
					text-align: center;

					div {
							width: 25px; /* Declare your value. Can be in relative units. */
							display: inline-block;
							vertical-align: bottom;
							margin-top: 5px;
							margin-left: 10px;
							margin-right: 10px;
							margin-bottom: 5px;
							padding: 0px;
							// height: 50px;
							}
					span {
							font-size: 28px;
							}

					img {
								width: 30px; /* Declare your value. Can be in relative units. */
								display: inline-block;
								vertical-align: bottom;
								margin-top: 5px;
								margin-left: 10px;
								margin-right: 10px;
								margin-bottom: 0px;
							}
				}
			// .card-icon-container > img {
			// 			width: 30px; /* Declare your value. Can be in relative units. */
			// 			display: inline-block;
			// 			vertical-align: bottom;
			// 			margin-top: 5px;
			// 			margin-left: 10px;
			// 			margin-right: 10px;
			// 			margin-bottom: 0px;
			// 		}
			// .card-icon-container:after {
			// 		  content: "";
			// 		  width: 100%;
			// 		  display: inline-block;
			// 			}
}


#conduct {
			a:link {
						text-decoration: underline;
						/* color: #f2849e; */
			}

			ul {
				list-style: none; /* Remove default bullets */
			}

			ul li::before {
				content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
				color: #f2849e; /* Change the color */
				font-weight: bold; /* If you want it to be bold */
				display: inline-block; /* Needed to add space between the bullet and the text */
				width: 1em; /* Also needed for space (tweak if needed) */
				margin-left: -1em; /* Also needed for space (tweak if needed) */
			}
}
