<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  {% include startcontent.html %}

  <h1>{{ page.title }}</h1>


  {{ content }}

  {% include faculty.html %}


  <div class="span9">
    <h2>MIND Summer School Schedule</h3>
    <iframe src="https://calendar.google.com/calendar/b/1/embed?showTitle=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=mindsummerschool%40gmail.com&amp;color=%2328754E&amp;ctz=America%2FNew_York&dates=20200805/20200815" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>

  {% include footer.html %}

</body>
</html>
