<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="index">

    {% include header.html %}
    {% include banner.html %}

    <div class="page-content">
        {{ content }}
    </div>

    {% include footer.html %}

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=11275732; 
var sc_invisible=1; 
var sc_security="1cd0bc43"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="web analytics"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="//c.statcounter.com/11275732/0/1cd0bc43/1/" alt="web
analytics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

  </body>

</html>
