<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <h1>{{ page.title }}</h1>

  {% if page.group-image %}
    <div class="image main"><img src="{{ site.baseurl }}/images/{{ page.year }}/{{ page.group-image }}" alt="" /></div>
    <h2>Participants</h2>
    <p>
      {% for person in site.data.participants %}
        {% if person.Year contains page.year %}
          {{ person.Name }}{% unless forloop.last %},{% endunless %}
        {% endif %}
          {% endfor %}
    </p>
  {% endif %}

  <div class="divider"></div>

  {{ content }}

  <div class="divider"></div>

  {% include faculty.html %}

  <div class="divider"></div>

  {% include tutorials.html %}

  {% include footer.html %}

</body>
</html>
