/* Previous */

#gallery {

		.responsive-img {
					// max-width: 50%;
					max-height: auto;
					max-width: 10%;
		}
		.slider {
		  position: relative;
		  height: 200px;
		  width: 50%;
			background-color: white!important;

		}

		.slider .slides {
			background-color: white!important;
		  margin: 0;
		  height: 200px;
		}

		.slider .slides li {
		  opacity: 0;
		  position: absolute;
		  top: 0;
		  left: 0;
		  z-index: 1;
		  width: 50%;
		  height: inherit;
		  overflow: visible;
			background-color: white!important;
		}

		.slider .slides li img {
		  height: auto;
		  width: 80%;
		  // background-size: cover;
		  background-position: center;
			background-color: white!important;
		}
}
