
/* Header */

#header {

	.header-logo {
				width: 100%;
				height: 100%;
				// border: 1px solid black;
				padding-top: auto;
				padding-left: 15px;
				padding-bottom: auto;
				// position: absolute;
				color: #fff;
				display: inline-flex;
				font-size: 1.2em;
				margin: 0;
				// overflow: hidden;

				> .img-align {
				  // vertical-align: bottom;
					height: 50px;
					display: inline-flex;
					padding-top: 15px;
					padding-right: 10px;
				}

				#header-img {
						max-height: 50px;
						// position: absolute;
						padding: 0;
						// left: -50px;
						margin: 0;
						// display: inline-block;
						// left: 0px;
				}
	}
}
.waves-effect.waves-pepperment .waves-ripple {
 /* The alpha value allows the text and background color
 of the button to still show through. */
	background-color: rgba(223, 248, 235, 0.65);
}
